<table class="table table-border">
    <tr>
        <th>Admin</th>
        <th>
            <a href="/figure" class="btn btn-warning">figure</a>
        </th>
        <th>
            <a href="/poster" class="btn btn-warning">Poster</a>
        </th>
    </tr>
</table>