
<table class="table table-bordered" action="/figure/buy/{{figure._id}}">
    <tr>
        <th>Confirm Purchase</th>
    </tr>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <th><img src="{{figure.image}}" alt="" width="200" height="200"></th>
        <th>{{figure.name}}</th>
        <th>{{figure.price}}</th>
        <th>
        <a href="/figure/list">OK</a>
        </th>
    </tr>
</table>