
<table class="table table-bordered" action="/lego/buy/{{lego._id}}">
    <tr>
        <th>Confirm Purchase</th>
    </tr>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <th><img src="{{lego.image}}" alt="" width="200" height="200"></th>
        <th>{{lego.name}}</th>
        <th>{{lego.price}}</th>
        <th>
        <a href="/lego/list">OK</a>
        </th>
    </tr>
</table>