
<table class="table table-bordered" action="/poster/buy/{{poster._id}}">
    <tr>
        <th>Confirm Purchase</th>
    </tr>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <th><img src="{{poster.image}}" alt="" width="200" height="200"></th>
        <th>{{poster.name}}</th>
        <th>{{poster.price}}</th>
        <th>
        <a href="/poster/list">OK</a>
        </th>
    </tr>
</table>